<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> About me
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                        <p   data-aos="fade-up" data-aos-duration="1000">
                            In my  <span class="underline"> {{calculateYearMonthDifference()}} as a software developer</span> including  4 months of Internhip in <span class="underline"> Confidosoft solutions pvt. ltd.</span>, I seek to train every day. I am performing <span class="underline">continuous integration </span>, and covering front-end developer roles with
                        </p>

                        <p data-aos="fade-up" data-aos-duration="1000">
                           <span class="underline"> JavaScript, TypeScript, Angular, ES6</span>. I have led teams having empathy, exercising motivation to partners, and setting plans and goals together.
                        </p>

                        <p data-aos="fade-up" data-aos-duration="1000">My skills also include implementing system improvements, optimizing sites, standardizing patterns, and suggesting and executing ideas that add value to the project I'm working on.</p>


                        <p data-aos="fade-up" data-aos-duration="1000">Some of the technologies that I have trained and worked on include (but are not limited to):</p>
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/html.png" alt="" width="40"/>HTML </span></li>                
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/css.png" alt="" width="40"/>(S)CSS </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/js.png" alt="" width="40"/>JavaScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/bootstrap.png" alt="" width="40"/>Bootstrap </span></li>
                        </ul>
                        <hr class="divider" data-aos="fade-up">
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/angular.png" alt="" width="40"/>Angular </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/csharp.png" alt="" width="40"/>.NET (C#) </span></li>                 
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/ts.png" alt="" width="40"/>TypeScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/rxjs.png" alt="" width="40"/> NgRx | RxJS </span></li>
                        </ul>
                        <hr class="divider" data-aos="fade-up">
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/react.png" alt="" width="40"/>React  </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/mongodb.png" alt="" width="40"/>Mongodb </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/expressJs.png" alt="" width="40"/>Express.js </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/node.png" alt="" width="40"/>Node.js </span></li>
                        </ul>
                        <hr class="divider" data-aos="fade-up">
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/firebase.png" alt="" width="40"/>Firebase  </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">
                                <img src="assets/images/icons/github.png" alt="" width="40"/>Github </span></li>
                        </ul>

                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="about-img-container">
                        <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")'  width="300" height="300" src="assets/images/me/jaimin_patel.jpg" alt="Jaimin Patel">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
